* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

}

@font-face {
    font-family: raleway_f ;
    src: url(../fonts/raleway-regular.woff2);
}

@font-face {
    font-family: raleway_f ;
    src: url(../fonts/raleway-black.woff2);
    font-weight: normal;
}

body {
    background: #010101;
    color: white;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}